* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  color: green;
}
.button {
  padding: 10px 20px;
  background-color: red;
  border-radius: 12px;
}

li {
  display: inline-block;
  list-style-type: none;
  margin-left: 10px;
}
